@font-face {
  font-family: "Pixelony";
  src: url("../fonts/pixelony.regular.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Pixelony", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-image: linear-gradient(180deg, #01d1ff 0%, #018ccd 100%);
  background-repeat: no-repeat;
}

a,
button,
input,
textarea {
  font-family: "Pixelony", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
.header__title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  color: #fff;
  text-shadow: 0 6px 0 #1e1e1e;
}
@media (max-width: 992px) {
  .header__title {
    font-size: 54px;
  }
}
@media (max-width: 768px) {
  .header__title {
    margin: 0 0 8px;
    font-size: 48px;
    text-shadow: 0 4px 0 #1e1e1e;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 42px;
  }
}
.header__description {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 0 #1e1e1e;
}
@media (max-width: 992px) {
  .header__description {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .header__description {
    font-size: 24px;
    text-shadow: 0 2px 0 #1e1e1e;
  }
}
@media (max-width: 576px) {
  .header__description {
    font-size: 20px;
  }
}

.footer {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 0 #1e1e1e;
}
@media (max-width: 576px) {
  .footer {
    font-size: 20px;
  }
}